
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@keyframes gradientAnimation {
  0% {
    opacity:0;
transform: scale(100%);
}
16.66% {
    opacity:1
}
33.33% {
    opacity:1
}
48.66% {
    opacity:1
}
100% {
    opacity:1; 
transform: scale(100%);
}

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container form {
    margin-top: 20px;
}

.centered-text {
  text-align: center;
}

label, input, select {
    display: block;
    margin: 10px auto;
}

button {
    display: block;
    margin: 10px auto;
}

input[type=text] {
    font-family: "Poetsen One";
   text-align: center;
    width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  }

input[type=text]:focus {
    width: 75%;
  }

.button {
    font-family: "Poetsen One";
    display: inline-block;
    border-radius: 12px;
    background-color: lightblue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: ' \26C5';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 40px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

select {
    font-family: "Poetsen One";
    color: #FFFFFF;
    width: 10%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: lightblue;
}



  .header {
    position: absolute;
    top: 0%;
    text-align: center;
    padding: 10px;
    width:auto;
 
}

.header2 {
  position: absolute;
  top: 10%;
  text-align: center;
  width:auto;
  padding: 5px;
  font-weight: 400;
}

.header3 {
  position: absolute;
  top: 15%;
  text-align: center;
  width:auto;
  padding: 5px;
  font-weight: 400;
}
.header4 {
  position: absolute;
  
  padding: 5px;
  top: 15%;
  text-align: center;
  width:auto;
  font-weight: 600;
  font-size: 100px;
}

.header5 {
  top: 35%;
  padding: 5px;
  /* margin: 100%; */
  position:absolute;
  text-align: center;
  width:auto;
  font-weight: 300;
  font-size: 20px;
}



.table-container {
  position: fixed;
  top: 50%;
  display: flex;
  width: 100%; /* Take up the full width of the container */
  justify-content: center; /* Center the table horizontally */
  vertical-align: middle;
}

table {
  text-align: center; /* Center the content horizontally */
  font-size: 15px;
  table-layout: fixed;
  width: 100%; /* Take up the full width of the container */
  /* border-collapse: collapse; */
}



th, td {
  padding: 5px;
}

.dayTime {
  background-image: linear-gradient(to bottom, #eaffa3, #c5f2fc) ; 
}

.nightTime {
  background-image: linear-gradient(to bottom, #283e9b, #161b30) ; 
  color: white;
}

html, body {
    font-size: xx-large;
    color: #4f4a4d;
    font-family: "Poetsen One";
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
     background-image: linear-gradient(to bottom, #eaffa3, #c5f2fc) ; 
    animation: gradientAnimation 10s  linear;
} 







