@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* The following animation causes a fade in effect */
@keyframes fadeAnimation {
  0% {
    opacity:0;
transform: scale(100%);
}
16.66% {
    opacity:1
}
33.33% {
    opacity:1
}
48.66% {
    opacity:1
}
100% {
    opacity:1; 
transform: scale(100%);
}

}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container form {
    margin-top: 20px;
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
.centered-text {
  text-align: center;
}

label, input, select {
    display: block;
    margin: 10px auto;
}

button {
    display: block;
    margin: 10px auto;
}


/* The code below sets the animated user text input box */
input[type=text] {
    font-family: "Quicksand";
   text-align: center;
    width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  }

input[type=text]:focus {
    width: 80%;
  }


/* The CSS Styling below sets the animated "Get Weather Button" on homepage */
.button {
    font-family: "Quicksand";
    display: inline-block;
    border-radius: 12px;
    background-color: lightblue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 26px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: ' \26C5';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 40px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/* The CSS styling below sets the select menu on the homepage */
select {
    font-family: "Quicksand";
    color: #FFFFFF;
    width: 10%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: lightblue;
}




/* The custom Header classes below are used to properly align and organize the weather forecast output page neatly */

/* Locaiton */
  .header1 {
    position: absolute;
    top: 0px;
    text-align: center;
   margin-top: 40px;
   margin-bottom: 0px;
   max-width: 100%;
   width: auto;
 
}

/* NOR BEING USED */
.header2 {
  position: absolute;
  top: 0px;
  text-align: center;
 margin-top: 120px;
 margin-bottom: 0px;
 max-width: 100%;
 width: auto;
}

/* Current Period */
.header3 {
  position: absolute;
  top: 0px;
  text-align: center;
 margin-top: 100px;
 margin-bottom: 0px;
 max-width: 100%;
 width: auto;
}

/* Current Temperature */
.header4 {
  position: absolute;
  top: 0px;
  text-align: center;
 margin-top: 150px;
 font-size: 95px;
 margin-bottom: 0px;
 max-width: 100%;
 width: auto;
}

/* Short Description */
.header5 {
  position: absolute;
  top: 0px;
  text-align: center;
 margin-top: 275px;
 margin-bottom: 0px;

 max-width: 100%;
 width: auto;
}

/* Current Period Description */
.header6 {
  position: absolute;
  top: 0px;
  text-align: center;
 margin-top: 345px;
 margin-bottom: 0px;
 max-width: 50%;
 width: auto;
}

/* .table-container is used to format both tables presented on weather-result page */
.table-container {
  max-width: 100vh;
  position: absolute;
  display: flex;
  width: 100%; /* Take up the full width of the container */
  justify-content: center; /* Center the table horizontally */
  vertical-align: middle;
  text-align: center;
  top: 0;
  margin-top: 550px;
  border-collapse: separate;
  border-radius: 30px;
}

.table-scroll{
  height: 150px;
  overflow: auto;
  max-width: 50%;
  table-layout: fixed;
  border-spacing: 70vh;
  border-collapse: separate;
  background-image: linear-gradient(to bottom,#2596be, #d3eaf2);
  border-radius: 30px;
}

.table-scroll thead th { 
  position: sticky; 
  top: 0; 
} 

.cellPadding {
  padding-left: 50px;
  padding-right: 50px;
  white-space: nowrap;

}
/* Table Header Vert is used to format and style the hourly forecast */
table.tableHeaderVert {

  color: pink;
  overflow: scroll;
  display: contents;
  width: 50vh;
  position: absolute;
  margin: 0;
  margin-top: 25vh;
}

tr.headerVert {
  font-size: large;
  /* font-size: 10px; */
  /* padding: 5px; */
  width: 100%;
  display: table-row;
  overflow: scroll;
}


/* The regular table, tr, td, and th are currently used to style the 7-day forecast */ 
table, tr, td, th {
  /* font-size: smaller; */
  /* border: 1px solid black; */
  /* border-collapse:collapse; */
  /* display: none; */
  text-align: center;
  /* border-bottom: .5px solid #c9c9c9; */
}

tr.header {
  cursor:pointer;
  display: table-row;
  /* text-align: left; */
}
tr {
  display: none;
}





/* Customizes to Day Time when the current period is Day */
.dayTime {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(to bottom, #eaffa3, #c5f2fc) ; 
  background-size: cover;
}

/* Customizes to Night Time when the current period is Night */
.nightTime {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(to bottom, #212f6a, #0f152e) ; 
  background-size: cover;
  color: beige;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  animation: fadeAnimation 5s linear;

}



/* Sets image styles: currently only used for icons */
img{
  max-width: 50%;
  max-height: 50%;
}


/* Sets the overall arching properties for the html and body of the webpage */
html, body {
  display: flex;
  background-image: linear-gradient(to bottom, #eaffa3, #c5f2fc) ; 
  background-size: cover;
  background-attachment: scroll;
  animation: fadeAnimation 10s  linear;
    font-size: xx-large;
    color: #4f4a4d;
    font-family: "Quicksand";
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; /* Enable scrolling if content exceeds viewport */
    justify-content: center;
    align-items: center;

    /* background-color: pink; */

} 
.bodyBG {
  background-size: cover; /* Cover the entire viewport */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keep the background fixed while scrolling */
}

body {
  background-size: cover; /* Cover the entire viewport */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keep the background fixed while scrolling */
}