
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


.centered-text {
    text-align: center;
}

html, body {
    font-size: xx-large;
    color: #4f4a4d;
    font-family: "Poetsen One";
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
     background-image: linear-gradient(to bottom, #eaffa3, #c5f2fc) ; 
    animation: gradientAnimation 10s infinite linear;
    /* animation: sunMovement 10s infinite linear; {% endcomment %} */
}





