{% extends 'base.html'%}
{%block content%}
<!DOCTYPE html>


<html lang="en">




<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>

</head>
<body>

    <div class = "centered-text">
    <h1>Welcome to the Weather App</h1>
    <form method="post" action="{% url 'weather_result' %}">
        {% csrf_token %}
        <input type="text" id="address" name="address" placeholder="Enter Address Here">
        

    
        <button class="button" style="vertical-align:middle"><span>Get The Weather</span></button>
    </div>
    </form>
</body>

</html>

{%endblock%}